@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular-webfont.eot');
    src: url('../fonts/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('../fonts/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'discoregular';
    src: url('../fonts/disco___-webfont.eot');
    src: url('../fonts/disco___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/disco___-webfont.woff2') format('woff2'),
         url('../fonts/disco___-webfont.woff') format('woff'),
         url('../fonts/disco___-webfont.ttf') format('truetype'),
         url('../fonts/disco___-webfont.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'boogalooregular';
    src: url('../fonts/boogaloo-regular-webfont.eot');
    src: url('../fonts/boogaloo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/boogaloo-regular-webfont.woff2') format('woff2'),
         url('../fonts/boogaloo-regular-webfont.woff') format('woff'),
         url('../fonts/boogaloo-regular-webfont.ttf') format('truetype'),
         url('../fonts/boogaloo-regular-webfont.svg#boogalooregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.corpo_pagina02{
   width: 100%;
   margin: 0 auto;
}

#central {
    width: 90%;
    margin: 0 auto;
}

#paragraph {
	font-size: 25px;
	text-align: center;
    font-family: helvetica;
}

.imagem_inicial_centraliza{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
.titulo_pagina02{
    font-family: 'kaushan_scriptregular';
	font-weight: bold;
	font-size: 50px;
	text-align: center;
    color:red;
}

.final{
    width: 100%;
    margin:0 auto;
}
.div_final{
    width: 70%;
    margin:0 auto;
    font-family: helvetica;
    font-size: 25px;
    margin-top: 90px;
}
.corpo-botao{
    width: 100%;
    text-align: center;
}
.botao{
    font-family: 'boogalooregular';
    font-size:20px;
}
.cor{
background: #DF0001;
    font-family: 'kaushan_scriptregular';
}

.fixar {
    position: fixed;
    margin-top: -14px;
    z-index: 100;
}