@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular-webfont.eot');
    src: url('../fonts/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('../fonts/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-webfont.eot');
    src: url('../fonts/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff'),
         url('../fonts/alexbrush-regular-webfont.ttf') format('truetype'),
         url('../fonts/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'discoregular';
    src: url('../fonts/disco___-webfont.eot');
    src: url('../fonts/disco___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/disco___-webfont.woff2') format('woff2'),
         url('../fonts/disco___-webfont.woff') format('woff'),
         url('../fonts/disco___-webfont.ttf') format('truetype'),
         url('../fonts/disco___-webfont.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'boogalooregular';
    src: url('../fonts/boogaloo-regular-webfont.eot');
    src: url('../fonts/boogaloo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/boogaloo-regular-webfont.woff2') format('woff2'),
         url('../fonts/boogaloo-regular-webfont.woff') format('woff'),
         url('../fonts/boogaloo-regular-webfont.ttf') format('truetype'),
         url('../fonts/boogaloo-regular-webfont.svg#boogalooregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a:link {
text-decoration: none;
}
.stiloTitulo{
 color:white;
}
#paragrafo1 {
    text-align: center;
}
    
#buscar {
    text-align: center;
}

.section-div-um{
 width: 50%;
 float:left;
}
.section-div-dois{
 width: 50%;
 float:left;
}
.box-botao{
    width: 100%;
    float:left;
    margin-top:10px;
}
.cor{
    background: rgb(191, 26, 26);
}
.font-topo{
    font-family: 'kaushan_scriptregular';
	font-size:25px;
}
.barraMenu{
    font-size:19px;
}
.titiloTopo{
    padding-top:10px;
    text-align: center;
}
.font-paragrafo{
    font-family: helvetica;
}
.font-input{
    font-family: helvetica;
    margin:5px;
}
.font-botao{
    font-family: 'boogalooregular';
    font-size: 20px;
}
.tamanho-topo{
    padding-top: auto;
}
.tituloInicial{
    font-family: 'alex_brushregular';
    text-align: center;
    font-size: 300px;
    margin-top: 485px;
    color: #DF0001;
}
.conteinerInicial{
    width: 600px;
    margin: 0 auto;
}
.corpoPrincipalInicial{
      width: 100%;
}
.imagemInicial{
    width: 250px;
    margin-left: 431px;
    margin-top: -112px;
    position: absolute;
}
.corPaginaInicial{
    background:rgba(223, 0, 1, 0.08);
}

.fixar{
    position: fixed;
    margin-top: -14px;
    z-index: 100;
}
.topo-last{
    margin-top: -90px;
}
.topo-sobre{
    margin-top: -110px;
}
.topo-titulo2 {
    font-family: 'boogalooregular';
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
}
.paragrafoSobre{
        margin: 30px;
    text-align: justify;
    margin-bottom: 50px;
    font-size: 16px;
}
.centralizaTituloTopo{
    border: none;
}
.bordaMenu{
  border:none;
}
.div_final{
    text-align: justify;
    margin: 30px;
    font-size: 16px;
}
.corpo-botao{
    font-family: 'boogalooregular';
 font-size: 20px;
   text-align: center;
}
.styleUL{
  list-style: none;
}
.olReceita{
  font-size: 17px;
}

ul {
    list-style: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label:before {
    background-color: white;
    border: 1px solid #ccc;
    content: '';
    display: inline-block;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    margin: -2px 6px 0 0;
    text-align: center;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label:before {
    content: "\2714";
    font-size: 14px;
    color: #99a1a7;
    background-color:aliceblue;
}
.olTamanho{
   height: 50px;
}