@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular-webfont.eot');
    src: url('../fonts/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('../fonts/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'discoregular';
    src: url('../fonts/disco___-webfont.eot');
    src: url('../fonts/disco___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/disco___-webfont.woff2') format('woff2'),
         url('../fonts/disco___-webfont.woff') format('woff'),
         url('../fonts/disco___-webfont.ttf') format('truetype'),
         url('../fonts/disco___-webfont.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'boogalooregular';
    src: url('../fonts/boogaloo-regular-webfont.eot');
    src: url('../fonts/boogaloo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/boogaloo-regular-webfont.woff2') format('woff2'),
         url('../fonts/boogaloo-regular-webfont.woff') format('woff'),
         url('../fonts/boogaloo-regular-webfont.ttf') format('truetype'),
         url('../fonts/boogaloo-regular-webfont.svg#boogalooregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#paragrafo1 {
    text-align: center;
}
    
#buscar {
    text-align: center;
}

.section-div-um{
 width: 50%;
 float:left;
}
.section-div-dois{
 width: 50%;
 float:left;
}
.box-botao{
    width: 100%;
    float:left;
    margin-top:50px;
}
.cor{
    background:#DF0001;
    font-family: 'kaushan_scriptregular';
}
.font-topo{
    font-family: 'kaushan_scriptregular';
}
.font-paragrafo{
    font-family: 'discoregular';
}
.font-input{
    font-family: 'boogalooregular';
}
.font-botao{
    font-family: 'boogalooregular';
    font-size: 20px;
}
.tamanho-topo{
    padding-top: auto;
}