@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular-webfont.eot');
    src: url('../fonts/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('../fonts/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'discoregular';
    src: url('../fonts/disco___-webfont.eot');
    src: url('../fonts/disco___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/disco___-webfont.woff2') format('woff2'),
         url('../fonts/disco___-webfont.woff') format('woff'),
         url('../fonts/disco___-webfont.ttf') format('truetype'),
         url('../fonts/disco___-webfont.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'boogalooregular';
    src: url('../fonts/boogaloo-regular-webfont.eot');
    src: url('../fonts/boogaloo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/boogaloo-regular-webfont.woff2') format('woff2'),
         url('../fonts/boogaloo-regular-webfont.woff') format('woff'),
         url('../fonts/boogaloo-regular-webfont.ttf') format('truetype'),
         url('../fonts/boogaloo-regular-webfont.svg#boogalooregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a {
    color: white;
    text-decoration: none;
}

.font-topo{
    font-family: 'kaushan_scriptregular';
    font-size: 20px;
}

h1{
   font-family: 'boogalooregular';
   text-align: center;
   margin-top: 60px;
}
ol{
   font-family: helvetica;
   list-style: none;
   font-size: 15px;
}
p{
  font-family: helvetica;
  margin: 20px 30px 20px 30px;
  font-size: 15px;
}
.corpo-botao{
   text-align: center;
}
.botao{
 font-family: 'boogalooregular';
 font-size: 20px;
}
.cor{
  background: #DF0001;
  font-family: helvetica;
}
.fixar {
    position: fixed;
    margin-top: -60px;
    z-index: 100;
}
.titiloTopo{
    padding-top:10px;
    text-align: center;
}
.corPaginaInicial{
    background:rgba(223, 0, 1, 0.08);
}
.cor{
    background: rgb(191, 26, 26);
}
.font-topo{
    font-family: 'kaushan_scriptregular';
	font-size:25px;
}
.bordaMenu{
  border:none;
}
.centralizaTituloTopo{
    border: none;
}
.barraMenu{
    font-size:19px;
}