/* Index */
.p1 {
    text-align: center;
    font-family: 'helvetica';
}

.col1{
    width: 50%;
    float: left;
}
.col2{
    width: 50%;
    float: left;
}

.styleUL{
    list-style: none;
}

.font-input{
    font-family: 'helvetica';
    margin: 5px;
}

.box-botao{
    width: 100%;
    float:left;
    margin-top:10px;
}

.font-botao{
    font-family: 'helvetica';
    font-size: 20px;
    text-align: center;
}

.olReceita{
    font-size: 17px;
}

.olTamanho{
   height: 50px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label:before {
    background-color: white;
    border: 1px solid #ccc;
    content: '';
    display: inline-block;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    margin: -2px 6px 0 0;
    text-align: center;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label:before {
    content: "\2714";
    font-size: 14px;
    color: #99a1a7;
    background-color:aliceblue;
}

/* Sobre */
.font-topo{
    font-family: 'helvetica';
	font-size:25px;
}

.stiloTitulo{
    color:white;
}

.bordaMenu{
    border: none;
}

.topo-titulo2 {
    font-family: 'helvetica';
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.paragrafoSobre{
    margin: 30px;
    text-align: justify;
    font-size: 16px;
}

.corpo-botao{
    font-family: 'helvetica';
    font-size: 20px;
    text-align: center;
}

#central{
    margin-top: 16%;
}

/* Last */
.barraMenu{
    font-size:19px;
}

.div_final{
    margin-top: 20%;
    text-align: justify;
    margin: 30px;
    font-size: 16px;
}

/* Receitas */
.tituloTopo{
    padding-top: 13px;
    padding-left: 120px; 
    position: absolute;
}

/* Universal */
.flow-text {
    margin-top: 16%;
}

a:link {
    text-decoration: none;
}

h1{
   font-family: 'helvetica';
   text-align: center;
   margin-top: 60px;
}

ol{
   font-family: helvetica;
   list-style: none;
   font-size: 15px;
}
p{
  font-family: helvetica;
  margin: 20px 30px 20px 30px;
  font-size: 15px;
}

.botao{
 font-family: 'helvetica';
 font-size: 20px;
 margin-bottom: 30px;
}

.cor{
    background: rgb(191, 26, 26);
    font-family: Helvetica;
}

.corPaginaInicial{
    background:rgba(223, 0, 1, 0.08);
}

.fixar{
    position: fixed;
    margin-top: -60px; /*-14*/
    z-index: 100;
}

.centralizaTituloTopo{
    border: none;
}

.tamanho-topo{
    padding-top: auto;
}
.tituloInicial{
    font-family: 'helvetica';
    text-align: center;
    font-size: 300px;
    margin-top: 485px;
    color: #DF0001;
}
.conteinerInicial{
    width: 600px;
    margin: 0 auto;
}
.corpoPrincipalInicial{
    width: 100%;
}
ul {
    list-style: none;
}

/*
brand-logo{
    text-align: center;
}
*/

a.brand-logo{
    color: white;
    font-family: 'helvetica';
    font-size: 125%;
}